/* Class Selector */
/* .phone-style{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    background-color: #333;
    color: white;
    list-style-type: square;
    list-style-position: inside;
    padding: 0 1rem;
} */

/* Pseudo Selector*/
/* ul li:nth-child(1), ul li:nth-child(5){
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    background-color: #333;
    color: white;
    list-style: square inside;
    padding:  0 1rem;
} */

/* Pseudo Class Selector using nth-child*/
/* .phone li:nth-child(1){
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    list-style: lower-alpha inside;
    padding: 0 0.5rem;
    text-align: center;
    
}

.phone li:nth-child(5){
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: whitesmoke;
    display: flex;
    justify-content: center;
} */

/* Pseudo Selector using last/first child */
.phone li:first-child{
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: whitesmoke;
    list-style: none inside;
    display: flex;
    width: 50%;
    justify-content: center;
    margin: auto;
}

.phone li:last-child{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: red;
    color: #333;
    list-style: none inside;
    display: flex;
    width: 50%;
    justify-content: center;
    margin: auto;
}